.TabelContainer {
    margin: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;

}

.Tabel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow:  60px 60px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.CardContainer {
    /* background-color: cadetblue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}


.BtnLogin {
    width: 10rem;
    align-self: flex-end;
    padding: 6px 10px;

    margin-bottom: 0.2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(214deg, rgba(255,255,255,1) 0%, rgba(244,232,22,1) 0%, rgba(19,121,29,1) 12%, rgba(21,125,31,1) 61%);
    border-bottom: 1px solid #fff;
}

.BtnLogin:focus {
    outline: none;
}
.BtnLogin:hover {
    background: #fff;
    color: black !important;
    border: 2px solid green;
}

.BtnSearch:hover , .BtnDownload:hover{
    background: #fff;
    color: black !important;
    border: 2px solid green;
}

.BtnLogin a ,.BtnLogin  {
    color: #fff !important;
    text-decoration: solid;
}
.BtnLogin a b:hover {
color: black;
}

.BtnLogin span:hover{

    color: black !important;
}

.BtnLogin span {
    color: #fff !important;
    text-decoration: solid;
    box-sizing: border-box;
}

.LoginContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10rem auto ;
    background-color: #ffffff;
    z-index: 100;
    border-radius: 20px;
}

.CardLogin{
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 3rem;
    border-radius: 20px;


}

.modalTrans {
background: red !important;
box-shadow: none;
}

.ActionButtonWrap {
    width: 100%;
}

._1OmBB thead th:hover:nth-child(6){

    width: 0px !important;
}

.ContainerSearch {
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom:-0.2rem;
    margin-left: 0;
    height: 40px;
    z-index: 1;
    }
    .SearchWrapper {
        display: flex;
        justify-content: space-around;
        text-align: center;
        height: 40px;
    }
    .TambahanBtn {
        margin-right: 1rem;
    }

    .BtnSearch {
        display: flex;
        width: 10rem;
        align-self: flex-end;
        padding: 6px 10px;
        color: #fff;
        margin-bottom: 0.2rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: green;
        z-index: 10;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
    }

    .BtnDownload { width: 10rem;
        display: flex;
        align-self: flex-end;
        padding: 6px 10px;
        color: #fff;
        cursor: alias;
        border-top-right-radius: 10px;

        background: linear-gradient(214deg, rgba(255,255,255,1) 0%, rgba(244,232,22,1) 0%, rgba(19,121,29,1) 12%, rgba(21,125,31,1) 61%);
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
       }